.page {
  font-family: 'helveticaneuecyrmedium';
  font-size: 16px; }

.page__wrap {
  background-color: #f3f3f3;
  width: 100%;
  height: 100vh; }

a:hover {
  text-decoration: none; }

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.dflex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.dflex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

p, a, h1, h2, h3, div {
  padding: 0;
  margin: 0; }

div {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  width: 1300px; }

.active {
  color: #4fb748; }

.translucent {
  color: #c5c5c5 !important;
  opacity: .7; }

.fade__lg {
  display: none; }

.fade__xs {
  display: none; }

.line-pag {
  position: relative;
  text-align: center;
  z-index: 3; }

.main__wrapper {
  padding-bottom: 80px;
  background-color: #f3f3f3; }

.main__container {
  margin: 15px auto 0 auto;
  width: 1300px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.confirmation {
  width: 100%;
  margin: 8px 16px;
  display: none; }
  .confirmation-btn {
    color: #fff;
    background-color: #f00085;
    font-size: .87rem;
    font-weight: bold;
    line-height: 1.71;
    padding: 10px 0 14px;
    border: none; }

.conf__wrapper {
  margin: 8px;
  display: none; }

.conf__btn {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #f00085;
  color: white;
  font-family: 'helveticaneuecyrbold';
  padding: 10px 0 14px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), inset 0 -2px 0 0 rgba(163, 0, 90, 0.32);
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: .87rem; }

.conf__btn:hover {
  background-color: #4fb748;
  color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all; }

.fade__lg {
  display: none; }

.fade__xs {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__wrapper {
  width: 100%;
  background-color: #1d1f21;
  padding: 7px 0 19px; }

.header__container {
  margin: 0 auto; }

.navbar__menu {
  padding-top: 10px;
  margin-left: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar__link {
  color: #72747e;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase; }

.navbar__devider {
  width: 120px;
  height: 2px;
  background-color: #72747e;
  display: block;
  margin: 0 12px; }

.navbar__link:hover {
  color: #72747e;
  text-decoration: none;
  text-transform: uppercase; }

.navbar__current {
  color: #4fb748;
  line-height: 1;
  text-transform: uppercase; }

.navbar__layout-lg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar__layout-sm {
  display: none; }

.navbar__burger {
  cursor: pointer; }

.navbar__burger-line {
  width: 28px;
  height: 3px;
  background-color: gray;
  margin-top: 5px; }

.navbar__basket {
  position: relative; }

.navbar__basket-count {
  width: 15px;
  height: 15px;
  line-height: 16px;
  font-size: .75rem;
  text-align: center;
  color: #fff;
  background-color: #d10074;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0; }

.content__inner-top {
  width: 100%; }

.content__inner-bottom {
  margin-top: 15px; }

.content__delivery {
  width: 49.2%;
  background-color: #fff;
  padding: 24px 35px 24px 32px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12); }

.content__payment {
  width: 49%;
  margin: 0 0 0 0px;
  background-color: #fff;
  padding: 24px 32px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12); }

.content__delivery-pickup {
  font-size: 1rem;
  line-height: 1.5; }

.content__delivery-time {
  font-size: .87rem;
  color: #626f77;
  line-height: 1.71; }

.content__delivery-user {
  padding-top: 16px;
  line-height: 1.5; }

.content__delivery-tel {
  font-size: .87rem;
  color: #626f77;
  line-height: 1.71; }

.content__delivery-edit {
  font-size: .87rem;
  margin-top: 16px;
  font-weight: bold;
  line-height: 1.71;
  display: block;
  color: #4c80ac; }

.content__delivery img {
  max-height: 38px; }

.content__delivery-top > div:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.content__delivery-top + p + p,
.content__delivery-top + p {
  line-height: 1.5; }

.content__inner-bottom {
  width: 100%; }

.content__purchases {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 7px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12); }

.content__purchases-shoping {
  width: 50%; }

.content__purchases-block {
  width: 79%;
  margin-left: 24px; }

.content__purchases-title {
  margin: 0 0 7px 32px;
  font-size: .87rem;
  color: #626f77; }

.content__purchases-caption {
  line-height: 1.5;
  font-weight: bold;
  color: #000000; }

.content__purchases-descr {
  font-size: .87rem;
  line-height: 1.71; }

.content__purchases-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-top: 1px solid #e7e7ee;
  border-right: 1px solid #e7e7ee;
  padding: 28px 32px 30px; }

.content__purchases-items img {
  width: 49px;
  height: 68px;
  border-radius: 4px; }

.content__purchases-details {
  width: 50%;
  padding: 26px 32px 40px;
  border-top: 1px solid #e7e7ee; }

.content__purchases-details .content__row {
  margin-top: 8px; }

.content__caption {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-top: 3px;
  text-transform: uppercase;
  position: relative;
  margin-left: 10px;
  font-family: 'helveticaneuecyrbold'; }

.content__delivery-card > p {
  margin-left: 8px; }

.content__sale {
  font-size: .87rem;
  color: #626f77;
  margin-left: 16px;
  max-width: 81%;
  line-height: 1.43; }

.content__persent-sale {
  color: #ff445e;
  font-weight: bold; }

.content__line-block {
  width: 100%;
  height: 1px;
  margin: 40px 0 24px;
  background-color: #e7e7ee; }

.content__weight {
  position: relative; }

.content__weigth-sum {
  margin-right: 25px; }

.content__weight-info {
  position: absolute;
  right: 0;
  top: -2px; }

.content__backwards {
  margin-top: 16px;
  position: relative; }

.content__backwards a {
  color: #4c80ac;
  margin-left: 8px;
  line-height: 1.71; }

.content__backwards:hover {
  color: #007bff; }

.content__left-arrow {
  color: #4c80ac;
  line-height: 1.6; }

.content__left-arrow img {
  max-height: 9px; }

.content__delivery-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px; }

.sidebar__inner-block {
  background-color: #fff;
  width: 380px;
  padding-top: 24px;
  margin: 0 0 0 15px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12); }

.sidebar__line-block {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  background-color: #e7e7ee; }

.sidebar__caption {
  margin: 0 0 0 32px;
  font-size: 1.125rem;
  line-height: 24px;
  font-family: 'helveticaneuecyrbold'; }

.sidebar__confirm {
  border-top: 1px solid #e7e7ee;
  margin-top: 16px;
  padding: 24px 32px 8px; }

.sidebar__promo-form {
  margin-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.sidebar__input {
  border: 1px solid #dddddd;
  padding: 6px 16px 6px;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.sidebar__btn {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: .87rem;
  color: #4c80ac;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }

.sidebar__btn:hover {
  background-color: #4fb748;
  color: #fff;
  border-color: #4fb748; }

.sidebar__btn:active {
  outline: none; }

.sidebar__btn:focus {
  outline: none; }

.sidebar__pay-caption {
  line-height: 1.5;
  color: #000000;
  margin: 24px 0 17px; }

.sidebar__purchase .sidebar__row {
  line-height: 1.6; }

.sidebar__purchase .sidebar__row:last-child {
  margin-top: 22px; }

.sidebar__card-sale {
  color: #ff445e; }

.sidebar__surcharge {
  margin-left: 16px;
  font-size: .87rem;
  color: #626f77;
  max-width: 82%; }

.sidebar__pay-descr {
  margin-left: 16px;
  font-size: .87rem;
  color: #626f77;
  max-width: 77%;
  line-height: 1.71; }

.sidebar__payment-sum {
  font-size: 1.125rem;
  font-weight: bold; }

.sidebar__payment-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0; }

.sidebar__payment .sidebar__row:first-child {
  margin-bottom: 25px; }

.sidebar__confirm-btn {
  font-size: .87rem;
  color: #fff;
  width: 100%;
  padding: 10px 0 14px;
  line-height: 1.71;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  background-color: #f00085;
  margin: 32px 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), inset 0 -2px 0 0 rgba(163, 0, 90, 0.32); }

.sidebar__confirm-btn:hover {
  background-color: #4fb748;
  color: #fff; }

.sidebar__confirm-btn:active {
  outline: none; }

.sidebar__confirm-btn:focus {
  outline: none; }

.sidebar__card-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px; }

.sidebar__img-master {
  padding-top: 11px;
  margin-left: 28px; }

.sidebar__select-block {
  position: relative; }

.sidebar__select-block::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

select[disabled] {
  background-color: transparent;
}
.sidebar__checkbox:disabled + .check-label {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.sidebar__select-block::after {
  width: 10px;
  position: absolute;
  content: '';
  height: 10px;
  background-image: url(../img/svg/path-4.svg);
  background-repeat: no-repeat;
  right: 4px;
  top: 6px;
  background-color: #fff; }

.sidebar__select-block select {
  color: #626f77;
  border: none;
  font-size: .87rem; }

.sidebar__select-block select:focus {
  outline: none; }

.sidebar__footer {
  padding: 23px 40px 82px; }

.sidebar__footer-descr {
  font-size: .87rem;
  max-width: 95%; }

.sidebar__contract {
  font-weight: bold;
  color: #497fae; }

.sidebar__bonus-row {
  margin-bottom: 17px; }

.sidebar__bonus-show {
  font-size: .87rem;
  font-weight: bold;
  line-height: 1.71;
  color: #4c80ac; }

.sidebar__personal-pay label {
  width: 67px;
  font-size: .87rem;
  text-align: center;
  color: #4fb748;
  border-radius: 12px;
  padding: 3px 5px;
  border: solid 1px #c5c5c5; }

.sidebar__checkbox-block label {
  width: 67px;
  font-size: .87rem;
  text-align: center;
  color: #4fb748;
  border: solid 1px #c5c5c5;
  border-radius: 12px;
  padding: 3px 5px; }

.sidebar__checkbox {
  display: none; }

.sidebar__checkbox + .check-label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1.5px solid #888888;
  position: absolute;
  border-radius: 3px;
  left: -36px;
  top: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s; }

.sidebar__checkbox:disabled + .check-label:before {
  border-color: #c5c5c5;
}

.sidebar__checkbox:checked + .check-label:before {
  width: 10px;
  top: -5px;
  left: -30px;
  border-radius: 2px;
  border-color: #fff;
  z-index: 10;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.sidebar__checkbox:checked + .check-label::after {
  content: '';
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
  position: absolute;
  left: -36px;
  background-color: #4fb748;
  border-radius: 3px;
  top: 0; }

.check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 5px;
  margin-left: 29px;
  color: #888888;
  cursor: pointer; }




.pag__wrapper {
  margin: 16px auto;
  display: none; }

.pag__container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12); }

.pag__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0 24px; }

.pag__link {
  display: block;
  width: 100%;
  color: #c5c5c5;
  font-weight: bold;
  font-size: 1.125rem; }
.pag__link-active {
  color: #000; }

.pag__item{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    width: calc(100%/3);
}
.line-pag {
  position: relative;
  text-align: center;
  z-index: 3;

}
.pag__round {
  width: 100%;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.pag__round::after {
  position: absolute;
  content: '';
  width: 44%;
  height: 2px;
  bottom: 18%;
  background-color: #69be28;
   left: 56%;
   z-index:1;
}
.pag__round::before {
  position: absolute;
  content: '';
  width: 44%;
  height: 2px;
  bottom: 18%;
  background-color: #69be28;
  right: 56%;
  z-index:1;
}
.pag__round:first-child{
  content: '';
  display: none;
}
.pag__round-active {
  width: 30px;
  height: 30px;
  line-height: 29px;
  border: 2px solid #69be28;
  border-radius: 50%;
  color: #69be28;
  background-color: #fff;
}
.pag__round-active{
  display: inline-block;
  padding: 0;
  margin-top: 8px;
  font-weight: bold;
}
.pag__item:first-child .pag__round::before {
  display: none;
}
.pag__item:last-child .pag__round::after {
  display: none;
}
.pag__round img {
  max-height: 30px;
  margin-top: 8px;
}
